/* Supporting marketing content */

section {
  padding: 50px 20px;
}

h1, h2 {
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  /* font-weight: 200; */
}

.item-header {
  text-align: center;
  margin-bottom: 50px;
}

.row-spacing {
  margin: 50px 0;
}

.row-bottom-gutter {
  margin-bottom: 40px;
}

.hero {
  background-position: center;
  background-size: cover;
	padding: 100px 0 50px 0;
}

.hero h1, .hero h3 {
  color: #fff;
	font-weight: 500 !important;
}

.hero a {
  text-decoration: underline;
}

.hero h1, .footer h1, .hello-stockholm-large {
  font-family: "Hello Stockholm", Helvetica Neue, Helvetica, Arial;
	line-height: 0.8;
}

.hello-stockholm-large {
  font-size: 160px;
	margin: -35px 0;
}

.footer h1 {
  font-size: 130px;
}

.navbar-brand img {
  height: 60px;
}

#navbar {
  position: relative;
	top: 28px;
}




.personal {
  margin: 40px 0;
}
@media (min-width: 550px) {
	.personal {
		display: table;
	}

	.personal > div {
		display: table-cell;
		height: 100%;
		vertical-align: middle;
	}

	.personal-text {
		padding-left: 20px;
	}
}

@media (max-width: 550px) {
	.personal-text {
		text-align: center;
		margin-top: 20px;
	}
}

.personal-bild {
	width: 150px;
	margin: 0 auto;
}

.personal-text h4 {
  margin-top: 0;
  margin-bottom: 15px;
}

.personal-text p {
  line-height: 1.5;
	margin: 0;
}



/* Responsive Google maps */
.google-maps {
  position: relative;
  height: 0;
  overflow: hidden;
  border: 0;
  padding-bottom: 100%;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100% !important;
  height: 100% !important;
}

/* Responsive magnific thumbnails */
.magnific img {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 0;
}

@font-face {
	font-family: 'Hello Stockholm';
	src: url('../fonts/HelloStockholm-Regular.eot');
	src: url('../fonts/HelloStockholm-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelloStockholm-Regular.woff2') format('woff2'),
		url('../fonts/HelloStockholm-Regular.woff') format('woff'),
		url('../fonts/HelloStockholm-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
