/* Supporting marketing content */

section {
  padding: 70px 20px;
}

h1, h2 {
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  /* font-weight: 200; */
}

.item-header {
  text-align: center;
  margin-bottom: 50px;
}

.row-spacing {
  margin: 70px 0;
}

.row-bottom-gutter {
  margin-bottom: 40px;
}

.text-align-center {
  text-align: center;
}

.jumbotron {
  text-align: center;
  background-color: transparent !important;
}

.hero {
  background-position: center;
  background-size: cover;
}

.hero h1, .hero h2 {
  color: #fff;
}

.hero h1, .footer h1, .hello-stockholm-large {
  font-family: "Hello Stockholm", Helvetica Neue, Helvetica, Arial;
}

.hello-stockholm-large {
  font-size: 160px;
}

.footer h1 {
  font-size: 130px;
}

.navbar-brand img {
  height: 60px;
}

#navbar {
  position: relative;
	top: 28px;
}


/* Responsive Google maps */
.google-maps {
  position: relative;
  height: 0;
  overflow: hidden;
  border: 0;
  padding-bottom: 100%;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100% !important;
  height: 100% !important;
}

/* Responsive magnific thumbnails */
.magnific img {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 0;
}

@font-face {
	font-family: 'Hello Stockholm';
	src: url('../fonts/HelloStockholm-Regular.eot');
	src: url('../fonts/HelloStockholm-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelloStockholm-Regular.woff2') format('woff2'),
		url('../fonts/HelloStockholm-Regular.woff') format('woff'),
		url('../fonts/HelloStockholm-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
