/* Supporting marketing content */

section {
  padding: 50px 15px;
}

.tjanst-container h2 {
  border-bottom: 1px solid #F1B482;
}

body {
  font-size: 16px;
  font-family: "Open Sans";
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 200;
}

.item-header {
  text-align: center;
  margin-bottom: 50px;
}

span.bg-orange {
  background: rgba(197, 107, 36, 0.47);
  color: #fff;
  padding: 5px 20px;
  text-align: center;
  box-decoration-break: clone;
}

.row-spacing {
  margin: 50px 0;
}

.row-bottom-gutter {
  margin-bottom: 30px;
}

.text-align-center {
  text-align: center;
}

.jumbotron {
  text-align: center;
  background-color: transparent !important;
}

.hero {
  background-position: center;
  background-size: cover;
}

.navbar-brand img {
  height: 33px;
}

.lead {
  font-size: inherit !important;
}

/* Responsive Google maps */
.google-maps {
  position: relative;
  height: 0;
  overflow: hidden;
  border: 0;
  padding-bottom: 100%;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100% !important;
  height: 100% !important;
}
/* Responsive magnific thumbnails */
.magnific img {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}
