{% extends 'partials/_master.twig' %}

{% block headincludes %}

    <style type="text/css">
	h2 {
	    text-align: center;
	    margin-top: 140px;
	}

	h2:first-child {
	    margin-top: 70px;
	}

	.bg-white {
	    margin-top: 70px;
	}

    
    </style>

{% endblock headincludes %}

{% block main %}

    <div class="bg-gray">
	<section class="container">
	  <!-- Main component for a primary marketing message or call to action -->
	    <h1 class="hello-stockholm-large text-center" data-bolt-field="namn">{{ record.namn }}</h1>


	<div class="row row-bottom-gutter">
	    <div class="col-md-8 col-md-push-2 bg-white">
		{% block content %}
		    <div data-bolt-field="templatefields[text]">
			{{ rtf.text }}
		    </div>
		{% endblock content %}
	    </div>
	</div>
      </section>
    </div>
{% endblock main %}
