{% extends 'partials/_master.twig' %}

{% block headincludes %}

    <style type="text/css">

		.first-section {
			padding-top: 35px;
		}
    
    </style>

{% endblock headincludes %}


{% block main %}

    <div class="bg-gray">
	  <section class="container">
	    <h1 class="hello-stockholm-large text-center" data-bolt-field="namn">Kontakt</h1>
      </section>
    </div>

    <div class="bg-striped">
	  <section class="container first-section">
		<div class="row">
			<div class="col-md-8 col-md-push-2 text-center">
				<h2>Välkommen till TMU</h2>
				<p data-bolt-field="templatefields[intro]">{{ rtf.intro }}</p>
				<div class="row">
					<div class="col-sm-4">
						<h4>Hör av dig</h4>
						<div data-bolt-field="templatefields[horavdig]" class="condensed-paragraphs">
							{{ rtf.horavdig }}
						</div>
					</div>
					<div class="col-sm-4">
						<h4>Besök oss</h4>
						<div data-bolt-field="templatefields[besokoss]" class="condensed-paragraphs">
							{{ rtf.besokoss }}
						</div>
					</div>
					<div class="col-sm-4">
						<h4>Ge en gåva</h4>
						<div data-bolt-field="templatefields[geengava]" class="condensed-paragraphs">
							{{ rtf.geengava }}
						</div>
					</div>
				</div>
			</div>
		</div>
      </section>
	</div>

    <div class="bg-striped">
      <section class="container ">
		<h2 class="text-center">Personal</h2>
		<div class="row">
			{% setcontent personer = 'personal' orderby 'position' %}
			{% for personal in personer %}
				{% include 'partials/_personal.twig' %}
			{% endfor %}
		</div>
      </section> <!-- /container -->
    </div>

{% endblock main %}
