{% extends 'partials/_master.twig' %}

{% block main %}

<div class="bg-striped">
	<section class="container">
		<h2 class="content-divider">Våra utbildningar</h2>
		{% for utbildning in records %}
			{% include 'partials/_utbildning-front.twig' %}
		{% endfor %}
	</section>
</div>

{% endblock main %}
